<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

	
	<!-- Bean으로 등록하기 위한 작업 (풀패키지명 작성)-->
	<bean class="com.ssafy.di.Desktop" id = "desktop"></bean>
	
	<!-- 생성자 주입 관련한 생성자가 있어야 한다!!! -->
	<bean class="com.ssafy.di.Programmer" id = "programmer">
		<constructor-arg ref = "desktop"></constructor-arg>
	</bean>
	
	<!-- 설정자 주입 -->
	<!-- <bean class="com.ssafy.di.Programmer" id = "programmer">
		<property name="computer" ref="desktop" ></property>
	</bean> -->
	
</beans>

